#ignore folder with compiled and builded files
bin/
obj/
out/

#ignore configuration files and project settings
*.suo
*.user
*.sln.docstates
*.csproj
*.csproj.user
*.vssettings

#ignore uploading files
wwwroot/files

#ignore VS files
.vs/

#ignore ngrok
/ngrok.exe


/SCAI/SCAI/obj/SCAI.csproj.nuget.g.props
/SCAI/SCAI/obj/SCAI.csproj.nuget.dgspec.json
/SCAI/SCAI/obj/project.nuget.cache
/SCAI/SCAI/obj/project.assets.json
/SCAI/SCAI/obj/Debug/net7.0/SCAI.GeneratedMSBuildEditorConfig.editorconfig
/SCAI/SCAI/obj/Debug/net7.0/SCAI.assets.cache
/SCAI/.vs/SCAI/v17/.futdcache.v2
/SCAI/.vs/SCAI/DesignTimeBuild/.dtbcache.v2
/SCAI/.vs/SCAI/v17/.suo
