#ignore folder with compiled and builded files
bin/
obj/
out/

#ignore configuration files and project settings
*.suo
*.user
*.sln.docstates
*.csproj
*.csproj.user
*.vssettings

#ignore uploading files
wwwroot/files

#ignore VS files
.vs/

#ignore ngrok
/ngrok.exe


