/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-80ujvmi3vl] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

body[b-80ujvmi3vl] {
    color: #2158b8;
    font-family: 'Comfortaa', cursive;
}

a[b-80ujvmi3vl] {
  color: #0077cc;
}

.btn-primary[b-80ujvmi3vl] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-80ujvmi3vl], .nav-pills .show > .nav-link[b-80ujvmi3vl] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-80ujvmi3vl] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-80ujvmi3vl] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-80ujvmi3vl] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-80ujvmi3vl] {
  font-size: 1rem;
  line-height: inherit;
}

.Render[b-80ujvmi3vl] {
    height:80%;
}
