@{
    ViewData["Title"] = "Image Upload";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <h2>Image Upload</h2>

    <form method="post" enctype="multipart/form-data">
        <div class="center-align">
            <label class="drop-zone" ondrop="handleDrop(event)" ondragover="handleDragOver(event)" ondragleave="handleDragLeave(event)">
                Перетащите файл сюда или нажмите для выбора файла
                <input type="file" id="imageFile" name="imageFile" accept="image/*" onchange="showPreview(this);" />
            </label>
            <br />
            <img id="selectedImage" style="max-width: 500px; max-height: 500px;" onclick="triggerFileInput()" 
                 ondrop="handleDrop(event)" ondragover="handleDragOver(event)" ondragleave="handleImageDragLeave(event)" @*ondblclick="uploadImage()"*@ />
            <br />
            <input type="submit" value="Анализ" />
        </div>
    </form>

</body>
</html>
