@{
    ViewData["Title"] = "Image Upload";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <h2>Image Upload</h2>

    <form method="post" enctype="multipart/form-data">
        <div class="center-align">
            <label for="imageFile">
                <input type="file" id="imageFile" name="imageFile" accept="image/*" style="display: none;" onchange="showPreview(this);" />
                <button type="button" onclick="document.getElementById('imageFile').click();">Выбрать файл</button>
            </label>
            <br />
            <img id="selectedImage" style="max-width: 300px; max-height: 300px;" />
            <br />
            <input type="submit" value="Отправить" />
        </div>
    </form>
</body>
</html>
