@{
    ViewData["Title"] = "Image Upload";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <h3>Image Upload</h3>
    <form method="post" enctype="multipart/form-data">
        <div class="center-align">
            <label for="imageFile">
                <div id="dropZone" class="drop-zone" ondragover="handleDragOver(event);" ondragleave="handleDragLeave(event);" ondrop="handleDrop(event);">
                    +
                </div>
                <input type="file" id="imageFile" name="imageFile" accept="image/*" style="display: none;" onchange="showPreview(this);" />
            </label>
            <br />
            <img id="selectedImage" class="img" onclick="triggerFileInput()"
                 ondragover="handleDragOver(event);" ondragleave="handleDragLeave(event);" ondrop="handleDrop(event);" />
            <br />
            <input type="submit" value="Анализ" id="analysisButton" class="submit-button" style="display: none;" />
        </div>
    </form>

</body>
</html>
