@model SCAI.Models.Tables.Patient;
@using SCAI.Models.Tables

@{
    ViewData["Title"] = "Добавление нового пациента";
    var returnUrl = ViewData["ReturnUrl"] as string;
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <h1>Добавление нового пациента</h1>
    <br />
    <div style="float: left; width: 300px; margin-right: 20px;">
            <h4><strong>Введите данные пациента:</strong></h4>
            <form method="post" action="@Url.Action("PatientAdd", "Home")">
                @if (!string.IsNullOrEmpty(returnUrl))
                {
                    <input type="hidden" name="returnUrl" value="@returnUrl" />
                }
                <div>
                    <label asp-for="PatientsLastName">Фамилия пациента:</label>
                    <input asp-for="PatientsLastName" required />
                </div>
                <div>
                    <label asp-for="PatientsFirstName">Имя пациента:</label>
                    <input asp-for="PatientsFirstName" required />
                </div>
                <div>
                    <label asp-for="PatientsMiddleName">Отчество пациента:</label>
                    <input asp-for="PatientsMiddleName" />
                </div>
                <div>
                    <label asp-for="PatientsPhoto">Фото пациента:</label>
                    <input asp-for="PatientsPhoto" />
                </div>
                <div>
                    <label asp-for="PassportData">Паспортные данные пациента:</label>
                    <input asp-for="PassportData" required />
                </div>
                <div>
                    <label asp-for="Age">Возраст пациента:</label>
                    <input asp-for="Age" required />
                </div>
            <div>
                <label asp-for="Gender">Пол пациента:</label>
                <select asp-for="Gender" class="form-control" required>
                    <option value="Мужской">Мужской</option>
                    <option value="Женский">Женский</option>
                </select>
            </div>
                <div>
                <input type="submit" value="Отправить" class="btn btn-primary" />
                </div>

                <div>
                    <input type="button" value="Назад" class="btn btn-secondary" onclick="goBack()"/>
                </div>
            </form>
        </div>
</body>
</html>
