@{
    ViewData["Title"] = "Result";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <h2>Result</h2>

    <div>
        <p>@ViewBag.Message</p>
    </div>
</body>
</html>