@{
    ViewData["Title"] = "Result";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <h2>Result</h2>

    <div>
        <p>Лучшее значение @ViewBag.BestValue</p>
    </div>
    <div>
        <p>Результат @ViewBag.BestClass</p>
    </div>
    <div>
        @foreach (var result in ViewBag.ResultMessage)
        {
            <p>@result</p>
        }
    </div>
</body>
</html>